<!DOCTYPE html>
<html lang="nl-be" dir="ltr">
  <head>
    <link rel="stylesheet" href="leaflet/leaflet.css">
    <link rel="stylesheet" href="/css/style.css">



  </head>
  <body>

<h2> A </h2>

<div id="logobegin"><img src="/images/logo.png" alt="logobegin"></div>

<div id="aanmelden"><a href="/aanmeldformulier">aanmelden</a></div>
