<!DOCTYPE html>
<html lang="nl-be" dir="ltr">
  <head>
    <link rel="stylesheet" href="leaflet/leaflet.css">
    <link rel="stylesheet" href="/css/style.css">



  </head>
  <body>
<h2> A </h2>

<div class="formulier">
<form>
  Naam<br>
  <input type="text" name="firstname"><br>
  Wachtwoord<br>
  <input type="text" name="lastname">
</form>
</div>

<div id="naam"><a href="/navigatie">Aanmelden</a></div>
