<!DOCTYPE html>
<html lang="nl-be" dir="ltr">
  <head>
    <link rel="stylesheet" href="leaflet/leaflet.css">
    <link rel="stylesheet" href="/css/style.css">



  </head>
  <body>
<h2> A </h2>


<div id="logoaanmelden"><img src="/images/logo.png" alt="logobegin" style="height:450px;"></div>


<div class="formulier">
<form>
  Gebruikersnaam<br>
  <input type="text" name="firstname"><br>
  Wachtwoord<br>
  <input type="text" name="lastname">
</form>
</div>


<div class="aanmeldknoppen">
<div id="naam"><a href="/navigatie">Inloggen</a></div>
<div id="naam"><a href="/navigatie">Registreren</a></div>
</div>
