<% include header %>

<h2>A</h2>


<div class="lijst">
<% for(var i=0; i < wifi.length; i++) { %>
<li><div class="locatie"><a href="locaties/<%=i%>"><%=wifi[i].attributes.LOCATIE %></a></div>
</li>
<% } %>

</div>
