<!DOCTYPE html>
<html lang="nl-be" dir="ltr">
  <head>
    <link rel="stylesheet" href="/leaflet/leaflet.css">
    <link rel="stylesheet" href="/css/style.css">



  </head>
  <body>
<div>
<a class="menu"href="/navigatie"><img src="/images/home.png" alt="home"style="height:100px;">
</a>
</div>
