<% include header %>

<h3>Help</h3>

<div class="help">

<ul>
<li>Hoe gebruik ik de Free-WIFI app?</li>
<li>Hoe maak ik een nieuw account aan?</li>
<li>Hoe navigeer ik op mijn kaart?</li>
<li>Waar zie ik mijn eigen locatie?</li>

  </ul>

</div>
