<% include header %>
<h2>A</h2>

<a class="terug"href="/navigatie"><img src="/images/terugoranje.png" alt="terug"style="height:100px;"></a>

<h3>Instellingen</h3>


<div class="instellingen">

<ul>
<li>Dark modus
  <div class="knop">

  <label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label></div>
</li>

<li>Locatie delen
  <div class="knop">
  <label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label></div></li>

<li>Meldingen
  <div class="knop">

  <label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label></div></li>

<li>Energiebesparing
  <div class="knop">

  <label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label></div></li>

  </ul>

  </div>
