<!DOCTYPE html>
<html lang="nl-be" dir="ltr">
  <head>
    <link rel="stylesheet" href="leaflet/leaflet.css">
    <link rel="stylesheet" href="/css/style.css">



  </head>
  <body>

<nav>
    <div><a href="/home">kaart</a></div>
    <div><a href="/categorie">locaties</a></div>
    <div><a href="/instellingen">instellingen</a></div>
    <div><a href="/help">help</a></div>
</nav>
